<div class="wrapper">
    <div class="card">
        <div class="card-header bg-primary text-white font-weight-bold">TODO LISTs</div>
        <div class="card-body">
            <% if notice%>
            <div class="alert alert-primary" role="alert" id="notice"><%= notice %></div>
            <% end %>
            <%= link_to 'Add', new_todo_path ,class: 'btn btn-sm btn-primary float-right mb-3'%>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @todos.each do |todo| %>
                    <tr>
                        <td>
                        <%= todo.name %>
                        </td>
                        <td>
                        <%= link_to 'View', todo, class: 'btn btn-sm btn-primary' %>
                        <%= link_to 'Edit', edit_todo_path(todo), class: 'btn btn-sm btn-primary' %>
                        <%= link_to 'Delete', todo, class: 'btn btn-sm btn-primary' , method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <%= render 'credit' %>
</div>
